<template>
    <div class="card">
        <ul>
            <li><u>{{title}}</u></li>
            <li><b>{{name}}</b></li>
            <li>{{agency}}</li>
            <li>{{address}}</li>
            <li>{{address2}}</li>
            <li>{{phone}}</li>
        </ul>
    </div>
</template>
<script>
export default {
    props: ['title','name','agency', 'address', 'address2', 'phone']
}
</script>
<style scoped>
 .card{
     width: 80px;
 }
 ul{
     list-style-type: none;
 }
</style>