<template>
    <div class="board-con">
       <div class="title">
           <h1>Board of Managers</h1>
       </div>
       <div class="board">
           <card-board title="President"
           agency="Hidalgo County Sheriff"
           name="Sheriff J. E. 'Eddie' Guerra"
           address="711 El Cibolo RD"
           address2="Edinburg, TX 78541"
           phone="PH: 956-383-8114" />
           <card-board title="Vice President"
           agency="City of Raymondville"
           name="Mayor Gilbert Gonzales"
           address="142 S. 7th St"
           address2="Raymondville, TX 78580"
           phone="PH: 956-689-2443 ext. 1408" />
           <card-board  title="Secretary"
           agency="City of Weslaco"
           name="Mayor David Suarez"
           address="255 S. Kansas Ave"
           address2="Weslaco, TX 78596"
           phone="PH: 956-968-3181" />
           <card-board  title="Treasurer"
           agency="City of McAllen"
           name="Mayor Pro-Tem Joaquin 'J.J.' Zamora"
           address="1300 Houston Ave"
           address2="McAllen, TX 78501"
           phone="PH: 956-681-1006" />
       </div>
       <div class="other">
           <div class="title">
               <h1>REMAINING BOARD MEMBERS</h1>
           </div>
           <div class="board">
               <card-board
                agency="City of Alton"
                name="Mayor Pro Tem Arturo Galvan Jr"
                address="416 S Alton BLVD. Suite B"
                address2="Alton, TX 78573"
                phone="PH: 956-432-0760" />
                <card-board
                agency="City of Edinburg"
                name="Mayor Ramiro Garza Jr."
                address="P.O. Box 1079"
                address2="Edinburg, TX 78540"
                phone="PH: 956-383-7111" />
                <card-board
                agency="City of Elsa"
                name="Mayor Alonzo 'AL' Perez Jr"
                address="PO Box 427"
                address2="Elsa, TX 78543"
                phone="PH: 956-262-2127" />
                <card-board
                agency="City of Granjeno"
                name="Mayor Yvette Cabrera"
                address="6603 S FM 494"
                address2="Mission, TX 78572"
                phone="PH: 956-519-0032" />
           </div>
           <div class="board">
               <card-board
                agency="City of Mercedes"
                name="Mayor Oscar D. Montoya"
                address="PO Box 837"
                address2="Mercedes, TX 78570"
                phone="PH: 956-565-3114" />
                <card-board
                agency="City of Peñitas"
                name="Mayor Rodrigo 'Rigo' Lopez"
                address="P.O. Box 204"
                address2="Penitas, TX 78576"
                phone="PH: 956-581-3345" />
                <card-board
                agency="City of Sullivan City"
                name="Mayor Alma D. Salinas"
                address="PO Box 249"
                address2="Sullivan City, TX 78595"
                phone="PH: 956-485-2828" />
                 <card-board agency="Willacy County"
                name="Judge Aurelio 'Keeter' Guerra"
                address="576 W. Main Ave. #152"
                address2="Raymondville, TX 78580"
                phone="PH: 956-689-3393" />
           </div>
       </div>
    </div>
</template>
<script setup>
import CardBoard from "@/components/Board/CardBoard.vue"
</script>
<style scoped>
.board-con{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
}
.board{
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 5px;
}
.board > div{
    flex:1 1 auto;
    margin: 10px;
}
.title{
    text-align: center;
    color: #273D6F !important;
    text-overflow: ellipsis;
}
</style>