<template>
    <div class="container">
        <span>If you need to contact a specific department, please
            review our <router-link to="ContactList">contact list</router-link></span>
        <div class="rbody">
             <div class="contacts">
                <h3>Phone</h3>
                <span>956-682-3481 ext 174</span>
                <h3>Mailing Address</h3>
                <p>RGV 9-1-1</p>
                <p>301 W. Railroad</p>
                <p>Weslaco TX 78596</p>
                <h3>Building Address</h3>
                <p>1912 Joe Stephens Ave</p>
                <p>Weslaco TX 78599</p>

            </div>
            <div>
               <iframe width="800" src="https://www.bing.com/maps?osid=26f8a841-36b6-4118-a773-020e5f081d42&cp=26.182627~-97.975187&lvl=17&imgid=7c5e8c66-ffd8-4811-8320-1519afdb2061&v=2&sV=2&form=S00027" />
            </div>
        </div>
    </div>
</template>

<style scoped>
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}
.contacts{
    width: 450px;
}
.rbody{
    display: flex;
}
</style>